---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE } from "../../consts";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;

const { Content } = await post.render();
---

<html lang="en">
  <head>
    <BaseHead title={post.data.title} description={post.data.description} />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">{SITE_TITLE}</a>
      </nav>
    </header>
    <Content />
  </body>
</html>
