---
import { getCollection } from "astro:content";
import "@fontsource-variable/roboto-slab";

import Post from "../components/Post.astro";
import BaseHead from "../components/BaseHead.astro";
import Disclaimer from "../components/Disclaimer.astro";

import { SITE_TITLE } from "../consts";
import Subscribe from "../components/Subscribe.astro";

const description =
  "Documenting a software engineer's journey into algorithmic trading. I'll be analysing the world of financial markets and quantitative investing with a healthy dose of scepticism.";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={description} />
  </head>
  <body
    class="max-w-prose mx-auto min-h-screen px-6 py-5 md:py-10 sm:px-8 bg-gray-100 font-roboto"
  >
    <main>
      <h1 class="font-bold md:font-medium text-3xl md:text-5xl mb-2">
        {SITE_TITLE}
      </h1>
      <div>
        <a href="/rss.xml">RSS</a>
        |
        <a href="#newsletter">Newsletter</a>
      </div>
    </main>
    <section class="mt-4 mb-8">
      <p>
        Hi! I'm Mihail, a software engineer based in the UK. I'm documenting my
        journey into algorithmic trading - hopefully you'll find it informative,
        or at least entertaining.
      </p>
      <Disclaimer />
    </section>
    <section class="mb-8">
      <h2 class="font-bold text-3xl mb-3">Posts</h2>
      <ul class="space-y-1">{posts.map((post) => <Post post={post} />)}</ul>
    </section>
    <section class="mb-6">
      <h2 class="font-bold text-3xl mb-6">Newsletter</h2>
      <Subscribe />
    </section>
    <section>
      <h2 class="font-bold text-3xl mb-3">Contact</h2>
      <p>
        <a href="https://linkedin.com/in/mihailmarian">I'm on LinkedIn</a> for any
        questions; please add a message when you connect. Alternatively, use <a
          href="https://forms.gle/tz3325pey9SjgV9X9"
          >this hideous contact form</a
        >. Include your email address if you'd like me to reply.
      </p>
    </section>
  </body>
</html>
