---
import type { CollectionEntry } from "astro:content";

import Link from "./Link.astro";

type Props = { post: CollectionEntry<"blog"> };

const { post } = Astro.props;
---

<li class="grid grid-cols-[auto,1fr] gap-4">
  <div class="flex items-center">
    <span class="text-sm">
      {
        post.data.pubDate.toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </span>
  </div>
  <div>
    <Link url={`/blog/${post.slug}`}>{post.data.title}</Link>
  </div>
</li>
