---
import type { CollectionEntry } from "astro:content";

import Link from "./Link.astro";
import { formatDate } from "../utils";

type Props = { post: CollectionEntry<"blog"> };

const { post } = Astro.props;
---

<li class="grid grid-cols-[auto,1fr] gap-4">
  <div class="flex items-center">
    <span class="text-sm">
      {formatDate(post.data.pubDate)}
    </span>
  </div>
  <div>
    <Link url={`/blog/${post.slug}`}>{post.data.title}</Link>
  </div>
</li>
